<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss.SSS}][%highlight{%-5level}][%t]\t%msg%n"/>
        </Console>
    </Appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="stdout" level="ALL"/>
        </root>
    </loggers>
</Configuration>